* {
  box-sizing: border-box;
}

.row {
  margin-left:-5px;
  margin-right:-5px;
}
  
.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.quarter {
  width: 25%;
}

.half {
  width: 50%;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

th, td {
  text-align: right;
  padding: 4px;
}

tr:nth-child(even) {
  background-color: #D6EEEE;
}

.infolabel {
    width:100px;
    display: inline-block;
  }
  
.controllabel {
    width:200px;
    text-align: right;
    display: inline-block;
  }

input[type='number']{
    width: 50px;
} 

.budget_tables {
    display: inline-block;    
  }

.toolbar {
  display: inline-block;    
}

.educationTable {
    border-collapse: collapse;
    width: 30%;
}

.populationTable {
    border-collapse: collapse;
    table-layout: fixed;
    width: 60%;
}
