#root {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  box-sizing: border-box;

  color: rgba(60, 60, 60, 0.87);
  background-color: #e3e3e3;
}


input{
  font-size: 1rem;
  font-family: inherit;
  border: 1px solid;
  border-radius: 8px;
  border-color: rgb(72, 72, 72);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
  margin: 0;
}

input,
select {
  padding: 0.2rem 0.5rem;
  background-color: rgb(240, 240, 240);
}

input:hover{
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}

input[disabled] {
  opacity: 0.35;
  cursor: default;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#nav {
  padding: 10px;
  border: #333333 solid 1px;

}

#container {
  display: flex;
  flex-direction: row;
}

#container div{
  margin-left: 0.5rem;
}

#sidebar {
  width: 25rem;
  border-right: solid 1px #333333;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
}

.row input {
  width: 80%;
}

#sidebar form {
  line-height: 2;
}

#sidebar ul {
  line-height: 2;
  list-style: none;
  padding: 0;
}

#sidebar ul li {
  display: flex;
  margin-bottom: 0.25rem;
}

#sidebar ul li a {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  padding: 0 0.5rem;
  border-radius: 8px;
  color: inherit;
  text-decoration: none;
}

#sidebar ul li button {
  margin-left: 0.25rem;
}

#sidebar form div {
  display: flex;
  flex-direction: row;
  margin: 0.5rem;
  margin-left: 0;
}

#sidebar form div input {
  margin-left: 0.3rem;
}

#sidebar form div select {
  margin-left: 0.3rem;
}


#sidebar ul a:hover {
  background: rgb(191, 207, 222);
}

#sidebar ul a.active {
  background: rgb(58, 144, 224);
  color: white;
}

#info {
  flex: 1;
  padding: 0 2rem;
  width: 100%;
}

#info ul li {
  border-bottom: 0.5px dashed #333333;
  margin-bottom: 0.5rem;
}

#info ul li button {
  float: right;
}
#b1{
  border: #333333 solid 1px;
    border-radius: 8px 0 0 8px;
}
#b2{
  border: #333333 solid 1px;
    border-radius: 0 8px 8px 0;
}
