* {
    box-sizing: border-box;
}

.row {
    margin-left:-5px;
    margin-right:-5px;
    margin-bottom: 7%;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background-color: gray;
    text-align: center;
    z-index: 999;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer > p{
    margin: 0;
}

#passYear, #end {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    background-color: gray;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    margin-bottom: 3rem;
}

#passYear *, #end * {
    border-radius: 10px;
    border: 2px solid black;
    height: 2.5rem;
    margin: 1rem;
}

#passYear p, #end p {
    background-color: beige;
    text-align: center;
    line-height: 2.4rem;
}

#end p {
    width: 35%;
}

#passYear button, #end button {
    width: 10rem;
}

#passYear :nth-child(2) {
    width: 25%;
}

#passYear :nth-child(1) {
    width: 5%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

/* Style pour l'en-tête du tableau */
th {
    background-color: #f2f2f2;
}

/* Style pour les lignes impaires du tableau */
tr:nth-child(odd) {
    background-color: #f1f1f1;
}
